<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/" class="header-logo">LIST</a>
      </header>
      <div class="container">
        <div class="container-header">
          <h1>Daftar Belanjaan</h1>
        </div>
        <div class="index-table-wrapper">
          <div class="table-head">
            <table border="1">
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>Alfad Indrawan</td>
                </tr>

                <tr>
                    <td>Tempat/tgl lahir</td>
                    <td>:</td>
                    <td>Bekasi, 10 mei 2000</td>
                </tr>

                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>Btn tabaria G10 No 20</td>
                </tr>

                <tr>
                    
                </tr>
            </table>
          </div>
        </div>
      </div>
</body>
</html>