<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="/" class="header-logo">LIST</a>
    </header>

    <div class="table-container">

      <table border="0" >

        
          <tr>
              <th>Nama</th>
              <td>:</td>
              <td>Alfad Indrawan</td>
          </tr>

          <tr>
              <th>Tempat/tgl lahir</th>
              <td>:</td>
              <td>Bekasi, 10 mei 2000</td>
          </tr>

          <tr>
              <th>Alamat</th>
              <td>:</td>
              <td>Btn tabaria G10 No 20</td>
          </tr>

          <tr>
              <th>Jurusan</th>
              <td>:</td>
              <td>Teknik Informatika</td>
          </tr>
      </table>
    </div>
</body>
</html>