<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="top-wrapper">
        <div class="top-detail">
            <!-- <h3 class="subtitle">Aplikasi daftar belanjaan</h3>
            <h1 class="title">LIST</h1>
            <p class="description">LIST dapat membuat dan mengatur 
                daftar belanjaan.
            </p>

            <a class="index-button" href="/index">Lihat Daftar</a> -->

            <ul>
                <li>Nama: Alfad Indrawan</li>
                <li>Asal: Makassar</li>
                <li>Ttl: Bekasi, 10 Mei 2000</li>
                <li>Jurusan: Teknik Informatika</li>
                <li></li>
            </ul>
        </div>

        <div class="top-image">
            <!-- <img src="/image/ilustrasi.png" alt=""> -->
            <img src="/image/back.png" alt="">    
        </div>
    </div>

    
</body>
</html>