<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sty">
</head>
<body>
    <div class="top-wrapper">
        <div class="top-detail">
            <h3 class="subtitle">Aplikasi daftar belanjaan</h3>
            <h1 class="title">LIST</h1>
            <p class="description">LIST dapat membuat dan mengatur 
                daftar belanjaan
            </p>

            <a class="index" href="#">Lihat Daftar</a>
        </div>

        <div class="top-image">

        </div>
    </div>

    
</body>
</html>